@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: yellow;
    padding: 4px;
}

menu>p {
    margin-top: 6px;
    width: 10%;
    float: left;
}

menu>form {
    width: 80%;
    float: left;
    text-align: center;
    margin-top: 5px;
}

menu>form>input[type=submit] {
    border-radius: 4px;
    padding: 1px;
}

#ipesquisa {
    width: 60%;
    background-color: white;
    border-radius: 4px;
}

a {
    font-size: 30px;
}

a::before {
    content: '';
}

#principal {
    background-image: url('../images/principal.jpg');
    background-repeat: no-repeat;
    background-position: center top 15%;
    background-size: cover;
    height: 600px;
    width: 100%;
}

section#texto{
    position: absolute;
    top: 70px;
    left: 20px;
    font-size: 3em;
}

mark{
    border-radius: 6px;
    padding: 6px;
}

@media screen and (max-width:740px) {
    menu>p {
        display: none;
    }

    menu>form {
        width: 80%;
        float: left;
        text-align: center;
    }

    #ipesquisa {
        width: 60%;
    }

    #principal{
        background-image: url('../images/principal-cel.jpg');
    }

    section#texto{        
        top: 80px;
        left: 20px;
        font-size: 2em;        
    }
}